.btn-outline {
  display: flex;
  height: 48px;
  padding: 12px 20px;
  align-items: center;
  gap: 11px;

  border: 1px solid var(--black-border);
  border-radius: 5px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--black);
  background-color: var(--header-text);

  transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
  opacity: 0.8;
}
